@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* grids */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
  }
  
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    /* font-size: 30px; */
    text-align: center;
  }

/* Style the video: 100% width and height to cover the entire window */
#background-video {
    width: 100vw;
    height:100%;
    object-fit: cover;
    position: fixed;
    /* object-fit and position are new */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow:visible;
    overflow:scroll;
 
    }

*{
    box-sizing: border-box;
    /* padding: 10px, 10px, 10px, 10px; */
    /* top, right, bottom, left */


  /* lots of little adjustments required to margin & padding for fitting video backgrounds. */
  
}

.colordiv {
    padding:50px;
    margin-left:-1%;
    margin-top:-1%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    /* this one? */
    background-color: rgb(25, 25, 112, 0.75 );
    background-size:200vh; 
    

}

body {
    overflow:visible;
    overflow:scroll;

}

h1 {
    padding:0px;
    /* color: red; */
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;

}


.fakelinks {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    /* text-decoration:none; */
    /* padding-bottom: 50; */

}

#navbar{
    /* background-color: black; */
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    text-align:center;
    align-items: center;
    /* flex-direction: column; */
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color:white; 
    /* flex-wrap.. wrap vs nowrap */
}

/* unvisited link */
a:link {
    padding:3px;
    /* border-style: groove;
    border-color: black; */
    display:block;
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: underline;
  }


.white{
    color:white;
    font-family: 'Open Sans', sans-serif;
    display:flex;
    flex-wrap: wrap;

}

.red{
    color: red;
}

.large {
    font-size: larger;
}

.center {
    /* text-align: center; */
    display:flex;
    align-items:center;
    
    justify-content:center;
    /* flex-wrap: wrap; */
    /* flex-direction:column; */


}

.center2 {
 
    display:flex;
    justify-content:center;
    /* flex-wrap: wrap; */
    flex-direction:column;
    /* width:20%; */

}

.widthimg {
    /* margin:0 auto; */
    
    width:20%;

}

.widthtext{
    margin:0 auto;
    width:50%;
    /* justify-content:right; */
    display:flex;
    flex-wrap: wrap;
    text-align: left;
    color:white;
    font-family: 'Open Sans', sans-serif;


}

.pagetxt{
    text-align: center;
    width:50%;
    color:white; 
    font-family: 'Open Sans', sans-serif;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .centerimg2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  

/* background-position cover or fixed */

/* fonts.google.com */


/* 
body {
    background-color: rgba(238,)
} */

/* targeting images give img a class name */
/* .steve{
    width:100%;
} */
/* responsive design */
/* use this instead of hard fixed values on my images */
/* try width:auto */

/* targeting all images */
/* img{
    width:30%;
} */

/* fourth number on rgb = transparency.. e.g. 50% transparent video on a solid background */



/* group selectors
h1, h2, p{
    color:violet;
} */

/* use transparency with video over background color */
/* 
# for id) # for IDs, . for class
. for class */
/* IDs are for singular objects e.g. navbar
Classes for multiple objects e.g. multiple lines of text on different parts of the page that you want colored red. */


/* body {
    background-image: url("senpai.jpg");
    background-position: fixed;
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

/* this is a css comment */
/* always start from top to bottom when doing any styling */


/* *{
   background-color: rgb(25, 25, 112, 0.5);
   z-index: 0;
} */


/* h1 {
    color:rgba(250, 0, 0, 0.5);
    opacity: 10%;
} */